header{
  border-bottom: solid;
  margin-right:0px;
}

header img{
  float: left;
}

header h1{
  text-align: center;
  font-size: 3em;
}

.announcements{
  margin-top: 30px;
  float: right;
  border: solid 8px;
  border-color: brown;
  padding: 10px;
}
