*{
  margin: 0px;
}

header{
  height: 30vh;
  border-bottom: solid;
  border-color: brown;
}

header img{
  float: left;
}

header h1 {
  font-size:3em;
  text-align: center;
  padding-top: 5vh;
}


.announcements{
  margin-top: 5%;
  height: auto;
  max-width: 14%;
  float: right;
  padding: 20px;
}

.sidemeny {
  height: auto;
  width: 100%;
  position: fixed;
  font-size: 15px;
  background-color: lightgrey;
}

.sidemeny ul {
  list-style: none;
}

.sidemeny li{
display: inline-block;
padding: 15px;
}

.sidemeny ul li:hover  {
  background-color: grey;
}

.sidemeny ul li a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1030px) {
  .sidemeny{
    height: 100%;
    width: 175px;
    position: fixed;
    font-size: 1em;
  }

}

/* Start of degree boxes CSS */
.container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}

.container .box{
  position: relative;
  width: 25%;
  padding: 20px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  overflow: hidden;
  margin-bottom: 25px;
}
.container .box .icon {
  position: relative;
  width: 80px;
  height: 80px;
  color: white;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}
.container .box:nth-child(1) .icon {
  box-shadow: 0 0 0 0 #990033;
  background: #990033;
}
.container .box:nth-child(1):hover .icon {
  box-shadow: 0 0 0 400px #ffcccc;
}
.container .box:nth-child(2) .icon {
  box-shadow: 0 0 0 0 #990033;
  background: #990033;
}
.container .box:nth-child(2):hover .icon {
  box-shadow: 0 0 0 400px #ffcccc;
}
.container .box:nth-child(3) .icon {
  box-shadow: 0 0 0 0 #990033;
  background: #990033;
}
.container .box:nth-child(3):hover .icon {
  box-shadow: 0 0 0 400px #ffcccc;
}
.container .box:nth-child(4) .icon {
  box-shadow: 0 0 0 0 #990033;
  background: #990033;
}
.container .box:nth-child(4):hover .icon {
  box-shadow: 0 0 0 400px #ffcccc;
}
.container .box:nth-child(5) .icon {
  box-shadow: 0 0 0 0 #990033;
  background: #990033;
}
.container .box:nth-child(5):hover .icon {
  box-shadow: 0 0 0 400px #ffcccc;
}
.container .box:nth-child(6) .icon {
  box-shadow: 0 0 0 0 #990033;
  background: #990033;
}
.container .box:nth-child(6):hover .icon {
  box-shadow: 0 0 0 400px #ffcccc;
}

.container .box .content {
  position: relative;
  z-index: 1;
  transition: 0.5s;
}
.container .box .content h3 {
  font-size: 18px;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}
.container .box .content ul {
  font-size: 17px;
  line-height: 1.5;
}

@media screen and (max-width:1030px){

  .container {
    margin-left: 200px;
  }
  .container .box{
    width: 40%;
  }

/* End of degree boxes CSS */

/*
@media screen and (max-width:1200px){
  .container .box {
    max-width: 25%;
    margin: 0;
    padding: 0;

  }
}
@media screen and (max-width:600px){
  .container .box {
    max-width: 25%;
    margin: 0;
    padding: 0;

  }
}
*/
